@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "tailwind-scrollbar";

/* VARIABLE */
@theme {
    --colors-primary: #12372A;
    --colors-green1: #436850;
    --colors-green2: #ADBC9F;
    --colors-green3: #FBFADA;
    --colors-green4: #FFFFFF;

    --colors-t-green: #7E978C;
  }

body {
    @apply bg-green-50;
}